/* Add this at the end of style.css or App.css */

body, html {
  margin: 0;
  padding: 0;
  background-color: #0d1117; /* GitHub dark theme */
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
